*{
  margin:0;
  padding: 0;
}
@font-face {
  font-family: "VazirMatn";
  src: url("./fonts/Vazirmatn-Bold.woff2") format("woff2");
  font-weight: bold;
}
@font-face {
  font-family: "VazirMatn";
  src: url("./fonts/Vazirmatn-Regular.woff2") format("woff2");
  font-weight: normal;
}